[data-dropdown] {
    position: relative;
}
[data-dropdown] .dropdown-menu {
    display: none;
}

[data-dropdown]:hover .dropdown-menu, 
[data-dropdown].active .dropdown-menu {
    display: block;
    animation: show-up .6s forwards;
}

.dropdown-menu::before{
    content: '';
    display: block;
    position: absolute;
    border-bottom: 10px solid #e54;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    width: 0px;
    height: 0px;
    top: -10px;

}

.dropdown-menu {
    position: absolute;
    background: #e54;
    font-weight: bold;
    border: 2px solid #222;
    z-index: 200;
    top: 38px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}

.dropdown-menu a:hover{
    color: white;
}

@keyframes show-up {
    from {
        opacity: 0;
        transform: translate3d(0px, 40px, 0px);
    }
    to {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
}

@media (max-width: 700px) {
  [data-dropdown] .dropdown-menu {
    display: block;
    animation: show-up .6s forwards;

}