.js [data-menu="button"] {
    display: none;
}

@media (max-width: 700px){
    
    .js [data-menu="button"] {
        display: flex;
        background-color: #222;
        border: none;
        padding: .5rem 1rem;
        border-radius: 4px;
        font-family: 'IBM Plex Mono', monospace;
        text-transform: uppercase;
        color: #fff;
        margin: 10px;
        cursor: pointer;
        align-items: center;
        position: relative;
        z-index: 300;
    }
    .js [data-menu="button"]::before {
        margin-right: 5px;
        content: '';
        display: inline-block;
        height: 2px;
        width: 12px;
        background: #fff;
        box-shadow: 0 4px #fff, 0 -4px #fff;
        transition: transform .4s;
    }
    .js [data-menu="button"].ativo::before {
        transform: rotate(90deg);
        transition: transform .4s;
    }

    .js [data-menu="lista"]{
        display: none;
        background-color: #fb5;
        position: absolute;
        z-index: 200;
        top: 0;
        width: 160px;
        padding: 60px 0 20px 0;
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    }

    .js [data-menu="lista"].ativo{
        display: block;
        animation: show-right .3s forwards;
    }

    .js .dropdown-menu {
        position: static;
        border: none;
        box-shadow: none;
    }
}