.dark-mode {
  background: #222 !important;
  color:#faf6ed;
  animation: show-dark .4s forwards;
  box-shadow: 0 0 0 10px #222 !important;
}
.fechar.dark-btn {
  width: 50px;
  height: 50px;
  border: 4px solid #222 ;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0,0,0,.3);
  position: absolute;
  top: -30px;
  right: -30px;
  font-size: 1.2rem;
  cursor: pointer;
}
.modal-container {
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container.ativo {
  display: flex;

}

@keyframes modalMostrar {
  from{
    opacity: 0;
    transform: translate3d(0px, -30px, 0px);

  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

.ativo .modal {
  animation: modalMostrar .4s forwards;
}

.modal {
  box-sizing: border-box;
  width: 80vh;
  max-width: 500px;
  background: white;
  padding: 40px;
  border: 10px solid #ffbb44;
  box-shadow: 0 0 0 10px white;
  position: relative;
}

.fechar {
  width: 50px;
  height: 50px;
  border: 4px solid white;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0,0,0,.3);
  background: #e54 url('../img/fechar.svg') no-repeat center center;
  position: absolute;
  top: -30px;
  right: -30px;
  cursor: pointer;
}

.modal label{
  font-family: 'IBM Plex Mono', monospace;
  display: block;
  font-weight: bold;
  margin: 1rem 0 .5rem 0;
}

.modal input{
  width: 100%;
  padding: .7rem .7rem .5rem .5rem;
  box-sizing: border-box;
  border: 2px solid #222222;
  border-radius: 0px;
}

.modal button[type="submit"] {
  border: none;
  cursor: pointer;
  background: #e54;
  padding: .7rem .5rem;
  border-radius: 5px;
  font-family: 'IBM Plex Mono', monospace;
  display: block;
  font-weight: bold;
  color: white;
  font-size: .9rem;
  margin-top: 1rem;
}